*, body{
    margin:0px;
    padding:0;
    box-sizing: border-box;
    border-style: none;
 
}
html, body{
width: 100%;
height: 100%;

}

.Mainbanner{
    background-image: url(images/wine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* margin-top: -20px; */
    align-items: center;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
   align-items: center;
   color: white;
}
.navlogo{
    width: 50%;
    padding-left: 1em;
     font-size: 40px;
    font-family: 'Pacifico', cursive;
}

.Mainbannertext{
    margin: 0 auto;
    align-content: center;
    color: white;
    font-family: -'apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 100px;
    text-align: center;

}
.Mainbannertext button{
    margin-top: 40px;
    
}
.Mainbannertext h1{
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 40px;
    font-weight: 800;
}   
.banner-text{
    padding: .5em;
    background-color: burlywood;
    width: 150px;
    border-radius: 5%;
    border: none;
}
.navbar-collapse{
justify-content: flex-end;
}
.aftermainbanner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aftermainbannerLeft{
    width: 50%;
/*  */
}
.lefttext{
     width: 40%;
     text-align: left;
     margin: 90px auto;
}
/* .lefttext h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
    font-size: 40px;
} */

.aftermainbannerRight{
    width: 50%;
    height: 100%;
    position: relative;
}
.aftermainbannerRight img{
    width: 100%;
   height: 100%;
}
.aftermainbannerRight:hover .overlay{
width: 100%;
}
.overlay{
    background-color: rgba(14, 7, 10, 0.418);
    position: absolute;
    width:0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    transition: .5s ease;
    overflow: hidden;
    color: white;
}
.s1:hover .overlay{
    width: 100%;
}
.overlay h1{
    margin-top: 120px;
    font-size: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.overlay p{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.menubar{
    width: 100%;
    background-color: #DFD5D5;
    height: 60px;
    align-content: center;
    padding-top: 20px;
    margin-top: -1px;
}
.menu-list{
 margin: 0 auto;
justify-content: center;
display: flex;
width: 80%;
}
.menu-list li{
    list-style: none;
    /* display: inline-block; */
}
.menu-list li a, .downtext a {
    padding: 0 1em; 
}
.showimages{
    width: 100%;
    display: flex;
    /* height: 350px; */
}
.s1{
    width: 33.3%;
    /* background-size: cover; */
    object-fit: cover;
    position: relative;
}
.s1 img{
    width: 100%;
    height: 100%;
}
.aftermainbannerRight:hover .overlay{
    width: 100%;
}
.fourth{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 250px;
  }
  .fourthtext{
      width: 100%;
      padding-top: 20px;
      text-align: center;   
  }
  .uptext{
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      padding: 2em 0;
  }
  .uptext h1{
      font-weight: 800;
  }
  .downtext{
      margin-top: -30px;
  }
  .downtext a{
      text-decoration: none !important;
      color: none !important;
  }
  .downtext a:hover{
    text-decoration: none !important;
    color: none !important;
      padding-bottom: 4px;
      border-bottom: 1px solid red;
  }
  .menu-box{
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
  }
  .innerbox{
      background: white;
      width: 400px;
      height:100px;
      margin: 0 auto;
      margin-bottom: 1em;
      display: flex;
      justify-content: space-between;
      box-shadow: 3px 3px 14px -7px rgba(0,0,0,0.75);
  }
  .small-images{
      width: 100px;
      height: 100%;
  }
  .small-images img{
      width: 100%;
      height: 100%;

  }
  .small-text, .amount{
      padding-top: 20px;
  }
  .small-text{
      width: 60%;
  }
  .red{
      color: red;
  }
  .amount{
      padding-right: 20px;
  }
  .reservation{
    background-image: url(images/PIZZA.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}
.reservationboxes{
    width: 70%;
    margin: 0 auto;
    /* display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content:center; */
}
.reservationtext{
    text-align: center;
    color:white;
    padding-top: 100px;
    padding-bottom: 30px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.reservationboxes input{
    margin-bottom: 10px;
    padding: .3em;
}
.red-btn{
    background: red;
    color: white;
    width: 205px;
    padding: .3em;
}
.chef{
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 100px;
}

 .strawberry{
    position: absolute;
    top: -10px;
    left: -40px;
} 
.cheifgallery{
    Width: 100%;
}
.gallerywrap{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
}
.newbox{
    width: 100%;
    position: relative;
    /* background-image: url(images/apple.png), url(images/straw.png); */
    background-position: left bottom, right top;
   background-repeat: no-repeat, no-repeat; 
   background-size: 50px;
   /* margin-left: -10px;
   margin-right: 0px; */
}
.chefs{
    position: relative;
    height:200px;
    width:150px;
}
.chefs img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.chefs::before {
    position: absolute;
    display: block;
    content: '';
    top: 4px;
    right: 7px;
    bottom: 7px;
    left: 4px;
    border: 5px solid whitesmoke;
}

 .maingallery{
    width: 19%; 
    justify-content: space-around;
    margin-bottom: 30px;
}
.chefs-details{
    text-align: center;
}
.chefs-details .red {
    font-size: 12px;
}
.chefs-details p{
    margin-bottom: 0 !important;
}
.straw{
    float:right;
    margin-right: 0;
     width: 60px;
     height: 60px;
}
.apple{
    /* width: 10%; */
    position: absolute;
     top: 320px;
     left: -15px;
     width: 60px;
     height: 60px;
}
.apple img, .straw img{
    width: 100%;
}
.sendemail{
    background-image: url(images/wine4.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}
.sendemail h4{
    font-weight: 700;
}
.remove .fa{
border-radius: 50%;
border: 1px solid black;
font-size: 12px;
padding: 6px;
}
.remove .fa:hover{
    border-color: red;
    color: red;
}
.email{
   align-self: center;
   background-color: white;
padding: 10px;
border: 0px none white;
width: 60%;
color: grey;
margin: 0 auto;
} 
.sendemail .fa{
    background-color: rgb(190, 184, 184);
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
}
.sendemail h4{
color: white;
}
.chiefinput button{
    background-color: red;
    margin:6px;
    padding: .5em;
    width: 150px;
    border: none;
    color:white;
} 
.chiefinput{
    width: 40%;
    display: flex;
    background-color: white;
    margin:  auto;
}
.chiefinput button .fa{
    background:none !important;
    border-radius: 0 !important;
    font-size: 1em;
    color: white;
    padding: 0;
}
.social-media{
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    text-align: center;
}
.map{
    width: 100%;
    height: 500px;
    background-image: url(images/map5.jpg);
   position: relative;
}
.hangingbox{
    width: 60%;
    height: 400px;
    display: flex;
    position: absolute;
    left: 20%;
    top: 290px;
    background-color: antiquewhite;
}
.white{
    width: 50%;
    background-color: white;
}
.yellow{
    background-color: rgb(175, 157, 52);
    color: white;
  width: 50%;
  padding-top: 70px;
}
.yellow .fa{
    padding-top: 6px;
    margin-right: 10px;
}
.space{
    font-family:  monospace;
    white-space: pre;
}
.info p{
    display:flex !important;
}
form li{
    list-style: none;
    padding: 10px;
}
.yellow li{
    list-style: none;
    padding: 7px;
}
.info{
    margin-left: 40px;
}
.info h6{
    font-weight: 700;
    margin-left: 14px;
}
.info h5{
    font-weight: 700;
}
form input,form textarea{
    border-width: 0 0 1px 0; 
    padding: 5px;
    border-bottom: 1px solid gray !important;
}

form{padding-top: 80px;}
.footer{
    width: 100%;
    background-color:rgb(41, 39, 39);
    height: 300px;
    /* position: relative; */
}
.footer-btn{
    background: transparent !important;
    border: 1px solid grey;
    padding: 5px;
    font-size:13px;
}
.fat{
    width: 400px;
    color: white;
    padding-top: 230px;
    /* padding-bottom: 50px; */
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
}
.fat .fa{
    font-size: 20px;
    color: rgb(41, 39, 39);
    background-color:white;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    margin-left:5px;
    padding: 10px;
}
.gold{
    color: rgb(175, 157, 52);
}

@media screen and (min-width: 600px) and (max-width: 1200px){
    .lefttext{
        width: 80%;
        /* text-align: center; */
        margin: 30px auto;
    }
    .reservationboxes{
        width: 80%;
        margin: 0 auto;

    }
    .reservationboxes input{
        margin-bottom: 10px;
    }
    .menu-box{
        width: 70%;
  
    }
    .innerbox{
        width: 300px;
    }
    .maingallery{
        width: 150px; 
    }
 
    .gallerywrap{
        width: 65%;
    }
    .chiefinput{
        width: 60%;
    }
    .menubar{
        display: none ;
    }
}
@media screen and (max-width: 600px){
    section{
        overflow-x: hidden
    }body{
        overflow-x: hidden;
    }
    .Mainbanner{
        height: 600px;
    }
    .Mainbannertext{
        width: 300px;    
    }
    .Mainbannertext h1{
        font-size: 40px;
}
.remove{
    display: none;
}
.menubar{
    display: none !important;
}
.lefttext{
    width: 90%;
    text-align: center;
}
.aftermainbannerRight{
    display: none;
}
.aftermainbannerLeft{
    width: 100%;
}
.showimages{
flex-direction: column;
}
.s1{
    width:100%;

}
.gallerywrap{
width: 90%;
}
.maingallery{
    width: 150px; 
}
.chiefinput{
    width: 80%;
}
.reservationboxes{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.reservationboxes input{
    margin-bottom: 10px;
}
.red-btn{
    background: red;
    color: white;
    width: 205px;
    padding: .3em;
}
.hangingbox{
    width: 60%;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    background-color: antiquewhite;
}
.white{
    width: 100%;
    height: 350px;
    background-color: white;
}
form{
    padding-top: 50px;
}
.yellow{
    background-color: rgb(185, 159, 9);
  width: 100%;
  height: 350px;
  padding-top: 50px;
}
.map{
    width: 100%;
    height: 600px;
    background-image: url(images/map5.jpg);
    background-size: cover;
   position: relative;
}
.footer{
    height: 300px;
    padding-top:  200px;
}
.fat{
    height: 90px;
     margin: 0 auto;
     margin-top: 0px;
     text-align: center;
     padding-top: 40px;
}
form input, form textarea{
    width: 80%;
}
}

